<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div id="app" style="width: 90%;margin: auto">

<div v-show="!login_show" class="main-nav">
    <div class="header" style="height: 60px">
        <h3 style="float:left">账号信息</h3>
        <div class="rightBlock" >

            <el-dropdown trigger="click" >
                <el-avatar  class="el-dropdown-link" style="vertical-align: middle;display: inline-block;"
                            :size="35" icon="el-icon-user-solid">
                </el-avatar>
                <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item  @click.native="account()"  >
                        <div style="font-weight: 700; " v-show="!login_show"><i class="el-icon-user-solid"></i>{{user.user}}</div></el-dropdown-item>
                    <el-dropdown-item @click.native="dosomething()" v-show="login_show">登录</el-dropdown-item>
                    <el-dropdown-item @click.native="dosomething()">返回目录</el-dropdown-item>
                    <el-dropdown-item @click.native="score()"  v-show="!login_show">答题记录</el-dropdown-item>
                    <el-dropdown-item @click.native="manage()" v-show="!login_show" v-if="user.permission>0">后台管理</el-dropdown-item>
                    <el-dropdown-item @click.native="logout()"  v-show="!login_show">注销</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </div>
    </div>

    <div class="nav-group__title searchParam">

        <el-form ref="form" :model="form" :rules="rules" label-width="120px" size="medium">

            <el-form-item  label="姓名" label-position="top" >
                <el-col :span="8">
                <el-input v-model="user.user" ></el-input>
                </el-col>
            </el-form-item>

            <el-form-item>
                <el-button plain @click="name()">修改姓名</el-button>
            </el-form-item>

            <el-form-item  label="旧密码" label-position="top" prop="oldPassword">
                <el-col :span="8">
                <el-input v-model="form.oldPassword" show-password></el-input>
                </el-col>
            </el-form-item>

            <el-form-item  label="新密码" prop="password1">
                <el-col :span="8">
                <el-input v-model="form.password1" show-password></el-input>
                </el-col>
            </el-form-item>

            <el-form-item label="重复输入新密码" prop="password2">
                <el-col :span="8">
                <el-input v-model="form.password2" show-password></el-input>
                </el-col>
            </el-form-item>

            <el-form-item>
                <el-button plain @click="password()">修改密码</el-button>
            </el-form-item>

        </el-form>

        <template>
            <el-table
                    :data="table">
                <el-table-column
                        prop="user"
                        label="姓名"
                        width="150">
                </el-table-column>

                <el-table-column
                        prop="id"
                        label="学号"
                        width="150">
                </el-table-column>

                <el-table-column
                        prop="permission"
                        label="权限级别"
                        width="150">
                </el-table-column>

                <el-table-column
                        prop="school"
                        label="学校"
                        width="150">
                </el-table-column>

                <el-table-column
                        prop="clazz"
                        label="班级"
                        width="150">
                </el-table-column>

            </el-table>
            <el-button type="danger" plain @click="name2()">永久删除本账号的所有数据</el-button>
        </template>
    </div>
</div>

</div>

</body>

<!-- import Vue before Element 上线时使用不带js的VUE--><!--
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script type="module">

    const app = new Vue({
        data() {
            var check1 = (rule, value, callback) => {
                if (!value) {
                    return callback(new Error('不能为空'));
                }else {
                    callback();
                }
            };
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                }else if (value === this.form.oldPassword) {
                    callback(new Error('不能与旧密码相同!'));
                }else if (value.length>30||value.length<6) {
                    callback(new Error('密码需要6-30位'));
                }
                else {
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.form.password1) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                form: {
                    oldPassword:'',
                    password1: '',
                    password2: ''
                },
                rules: {
                    password1: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    password2: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                    oldPassword: [
                        { validator: check1, trigger: 'blur' }
                    ]
                },
                //登录状态 true为未登录
                login_show:true,
                //用户名
                table:[],
                user:{
                    "user": "田川",
                    "id": "201883060064",
                    "permission": 0,
                    "school": "null",
                    "clazz": "null"
                },

            }
        },
        methods: {
            name2(){
                this.$confirm('此操作将永久删除本账号的所有数据,是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get('/d')
                        .then(response=>{
                            if(response.data.code===1){
                                this.$message.success(response.data.msg);
                                window.setTimeout(this.dosomething(),5000);
                            }
                            else {
                                this.$message.error(response.data.msg);
                            }
                        });
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消'
                    });
                });

            },
            password(){
                this.$refs.form.validate((valid) => {
                if (valid) {
                    let params = new URLSearchParams();
                    params.append("id", this.user.id);
                    params.append("password", this.form.oldPassword);
                    params.append("password1", this.form.password1);
                    axios.post('/edit_password', params)
                        .then(response => {
                            if (response.data.code === 1) {
                                this.$message.success(response.data.msg);
                                window.setTimeout(this.dosomething(), 1500);
                            } else {
                                this.$message.error(response.data.msg);
                            }
                        })
                    }
                })
            },
            name(){
                let n = this.user.user.length;
                if(n<2||n>10){
                    this.$message.error("2-10位");
                }else{
                    let params = new URLSearchParams();
                    params.append("name",this.user.user);
                    params.append("id",this.user.id);
                    axios.post('/edit_name',params)
                        .then(response =>{
                            if(response.data.code===1){
                                this.$message.success(response.data.msg);
                                window.setTimeout(this.dosomething(),1500);
                            }
                            else {
                                this.$message.error(response.data.msg);
                            }
                        })
                }
            },
            who(){
                axios.get('/who').then(response=> {
                    if(response.data.code===1){
                        this.login_show = false;
                        this.user = response.data.data;
                        this.table.push(this.user);
                    }
                    else{
                        this.$message.error("登录超时！");
                        this.dosomething();
                    }
                });
            },

            logout(){
                axios.get('/logout').then(response=> {
                    if(response.data.code===1){
                        this.login_show = false;
                        this.user = '';
                        window.location.href="index.html";

                    }
                    else {
                        this.$message.error(response.data.msg);
                    }
                });

            },

            account(){
                window.location.href="account.html";
            },
            score(){
                window.location.href="score.html";
            },
            dosomething(){
                window.location.href="index.html";
            },
            manage(){
                window.location.href="management.html";
            },

        },

        created() {
            this.who();
        },

    }).$mount('#app')


</script>
<style>
    .main-nav ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .main-nav {
        padding: 0;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .main-nav .nav-item a {
        text-decoration: none;
        display: block;
        color: #444;
        line-height: 40px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 300;
        transition:0.15s ease-out;
    }
    .main-nav .nav-item a:hover {
        color: #409EFF;
    }
    .main-nav .nav-group__title {
        font-size: 16px;
        color: #333;
        line-height: 26px;
        margin-top: 15px;
    }
    .pure-menu-list .nav-item{
        display: block;
    }
    .login-title {
        text-align: center;
        margin: 0 auto 40px auto;
        color: #303133;

    }
    .login-box {
        height: auto;
        font-size: 12px;
        text-align: center;
        width: 250px;
        padding:40px;
        min-width: 200px;
        margin: auto;
    }

    .login-box a{
        text-decoration: none;
        color: #666;
        cursor: pointer;
    }

    .login-box a{
        transition:0.15s ease-out;
        color: rgb(0,0,238);
        line-height: 40px;
        text-decoration: none;
        font-weight: 400;
    }

    .login-box a:hover{
        color: #409EFF;
    }

    .login-box .icon{
        cursor: pointer;
        font-size: 30px;
        margin: 20px 20px 0 20px;
        transition: 1s all;
    }

    .login-box .icon:hover{
        font-size: 40px;
    }



    .rightBlock{
        float: right;
        line-height: 60px;
        display:block;
        margin-right: 0;
        height: 60px;
    }
    .rightBlock:focus{
        outline:none;
    }



</style>
</html>
