<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div id="app">

<div v-show="!login_show" class="main-nav">
    <div class="header" style="height: 60px">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1" v-if="user.permission>1">试题管理</el-menu-item>
            <el-submenu index="2" v-if="user.permission>0">
                <template slot="title">班级管理</template>
                <el-menu-item index="2-1">班级分数</el-menu-item>
                <el-menu-item index="2-2">班级成员</el-menu-item>
                <el-menu-item index="2-3">增删成员</el-menu-item>
            </el-submenu>

            <el-submenu index="3" v-if="user.permission>1">
                <template slot="title">校级管理</template>
                <el-menu-item index="3-1">学校分数</el-menu-item>
                <el-menu-item index="3-2">学校成员</el-menu-item>
                <el-menu-item index="3-3">增删班级</el-menu-item>
                <el-menu-item index="3-4">权限授予</el-menu-item>
            </el-submenu>

            <el-submenu index="4" v-if="user.permission>2">
                <template slot="title">超级管理</template>
                <el-menu-item index="4-1">添加学校</el-menu-item>
                <el-menu-item index="4-2">为某学校添加管理员</el-menu-item>
            </el-submenu>
            <el-menu-item index="5" v-if="user.permission>1">
                <a href="chapter_add.html" target="_blank" style="text-decoration: none">添加试题</a>
            </el-menu-item>

            <el-dropdown trigger="click" style="float: right!important;line-height: 60px;">
                <el-avatar  class="el-dropdown-link" style="vertical-align: middle;display: inline-block;"
                            :size="35" icon="el-icon-user-solid">
                </el-avatar>
                <el-dropdown-menu slot="dropdown" >
                    <el-dropdown-item  @click.native="account()"  >
                        <div style="font-weight: 700; " v-show="!login_show"><i class="el-icon-user-solid"></i>{{user.user}}</div></el-dropdown-item>
                    <el-dropdown-item @click.native="dosomething()" v-show="login_show">登录</el-dropdown-item>
                    <el-dropdown-item @click.native="dosomething()">返回目录</el-dropdown-item>
                    <el-dropdown-item @click.native="score()"  v-show="!login_show">答题记录</el-dropdown-item>
                    <el-dropdown-item @click.native="manage()" v-show="!login_show" v-if="user.permission>0">后台管理</el-dropdown-item>
                    <el-dropdown-item @click.native="logout()"  v-show="!login_show">注销</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>


        </el-menu>

    </div>

    <div class="nav-group__title searchParam">

        <el-form ref="form" label-width="120px" size="medium">

            <el-form-item  label="班级名称" label-position="top" >
                <el-col :span="8">
                    <el-input v-model="sName" ></el-input>
                </el-col>
            </el-form-item>

            <el-form-item>
                <el-button plain @click="name()">添加</el-button>
            </el-form-item>

        </el-form>
        {{user.school}} ---
        <el-select v-model="classN" filterable placeholder="请选择班级" :loading="loading2">
            <el-option
                    v-for="item in options2"
                    :key="item"
                    :label="item"
                    :value="item">
            </el-option>
        </el-select>
        <el-button type="danger" plain @click="na()">删除班级</el-button>
    </div>
</div>

</div>

</body>

<!-- import Vue before Element 上线时使用不带js的VUE--><!--
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script type="module">

    const app = new Vue({
        data() {
            return {
                activeIndex: '3-3',
                sName:'',
                permission:0,
                //登录状态 true为未登录
                login_show:true,
                loading2:true,
                classN:'',
                //用户名
                user:{
                    "user": "田川",
                    "id": "201883060064",
                    "permission": 0,
                    "school": "null",
                    "clazz": "null"
                },
                options2: ['null',"Alabama", "Alaska", "Arizona",
                    "Arkansas", "California", "Colorado",
                    "Connecticut", "Delaware", "Florida",
                    "Georgia", "Hawaii", "Idaho", "Illinois",
                    "Indiana", "Iowa", "Kansas", "Kentucky",
                    "Louisiana", "Maine", "Maryland",
                    "Massachusetts", "Michigan", "Minnesota",
                    "Mississippi", "Missouri", "Montana",
                    "Nebraska", "Nevada", "New Hampshire",
                    "New Jersey", "New Mexico", "New York",
                    "North Carolina", "North Dakota", "Ohio",
                    "Oklahoma", "Oregon", "Pennsylvania",
                    "Rhode Island", "South Carolina",
                    "South Dakota", "Tennessee", "Texas",
                    "Utah", "Vermont", "Virginia",
                    "Washington", "West Virginia", "Wisconsin",
                    "Wyoming"],
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                if(keyPath[0] == "1"){
                    this.manage();
                }
                else if(keyPath[0] == "2"){
                    if(keyPath[1] == "2-1"){
                        window.location.href="sco_class.html";
                    }
                    else if(keyPath[1] == "2-2"){
                        window.location.href="man_class.html";
                    }
                    else if(keyPath[1] == "2-3"){
                        window.location.href="cla_man_de.html";
                    }
                }
                else if(keyPath[0] == "3"){
                    if(keyPath[1] == "3-1"){
                        window.location.href="sco_school.html";
                    }
                    else if(keyPath[1] == "3-2"){
                        window.location.href="man_school.html";
                    }
                    else if(keyPath[1] == "3-3"){
                        window.location.href="clazz_add.html";
                    }
                    else if(keyPath[1] == "3-4"){
                        window.location.href="pmmss.html";
                    }
                }
                else if(keyPath[0] == "4"){
                    if(keyPath[1] == "4-1"){
                        window.location.href="sc_add.html";
                    }
                    if(keyPath[1] == "4-2"){
                        window.location.href="sc_add_ad.html";
                    }
                }

            },
            //查询有哪些班级
            cla(x){
                const params = new URLSearchParams();
                params.append('schoolName',x);
                this.loading2 = true ;
                axios.post('/class',params).then(response=> {
                    if(response.data.code===1){
                        this.options2 = response.data.data;
                        this.loading2=false;
                    }
                    else {
                        this.$message.error(response.data.msg);
                    }
                });
            },
            na(){
                if(this.classN == "管理员"){
                    this.$message.error("不能删除管理员组");
                }
                else{
                    let that = this;
                    this.$confirm('此操作相当危险，将删除该班所有账号及其分数记录,是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        that.onSubmit();
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消'
                        });
                    });
                }
            },
            onSubmit(){
                let params = new URLSearchParams();
                params.append("id",this.classN);
                axios.post('/d_c',params)
                    .then(response =>{
                        if(response.data.code===1){
                            this.$message.success(response.data.msg);
                        }
                        else {
                            this.$message.error(response.data.msg);
                        }
                    })
            },
            name(){
                let n = this.sName.length;
                if(n==0){
                    this.$message.error("不能为空");
                }else{
                    let params = new URLSearchParams();
                    params.append("id",this.sName);
                    axios.post('/a_c',params)
                        .then(response =>{
                            if(response.data.code===1){
                                this.$message.success(response.data.msg);
                            }
                            else {
                                this.$message.error(response.data.msg);
                            }
                        })
                }
            },
            who(){
                axios.get('/who').then(response=> {
                    if(response.data.code===1){
                        this.login_show = false;
                        this.user = response.data.data;
                        this.cla(this.user.school);
                    }
                    else{
                        this.$message.error("登录超时！");
                        this.dosomething();
                    }
                });
            },

            logout(){
                axios.get('/logout').then(response=> {
                    if(response.data.code===1){
                        this.login_show = false;
                        this.user = '';
                        window.location.href="index.html";

                    }
                    else {
                        this.$message.error(response.data.msg);
                    }
                });

            },

            account(){
                window.location.href="account.html";
            },
            score(){
                window.location.href="score.html";
            },
            dosomething(){
                window.location.href="index.html";
            },
            manage(){
                window.location.href="management.html";
            },

        },

        created() {
            this.who();
        },

    }).$mount('#app')


</script>
<style>
    .main-nav ul {
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    .main-nav {
        padding: 0;
        margin: 0;
        height: 100%;
        overflow: hidden;
    }
    .main-nav .nav-item a {
        text-decoration: none;
        display: block;
        color: #444;
        line-height: 40px;
        font-size: 14px;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 300;
        transition:0.15s ease-out;
    }
    .main-nav .nav-item a:hover {
        color: #409EFF;
    }
    .main-nav .nav-group__title {
        font-size: 16px;
        color: #333;
        line-height: 26px;
        margin-top: 15px;
    }
    .pure-menu-list .nav-item{
        display: block;
    }
    .login-title {
        text-align: center;
        margin: 0 auto 40px auto;
        color: #303133;

    }
    .login-box {
        height: auto;
        font-size: 12px;
        text-align: center;
        width: 250px;
        padding:40px;
        min-width: 200px;
        margin: auto;
    }

    .login-box a{
        text-decoration: none;
        color: #666;
        cursor: pointer;
    }

    .login-box a{
        transition:0.15s ease-out;
        color: rgb(0,0,238);
        line-height: 40px;
        text-decoration: none;
        font-weight: 400;
    }

    .login-box a:hover{
        color: #409EFF;
    }

    .login-box .icon{
        cursor: pointer;
        font-size: 30px;
        margin: 20px 20px 0 20px;
        transition: 1s all;
    }

    .login-box .icon:hover{
        font-size: 40px;
    }
    .header{
        margin-bottom: 10px;
    }



</style>
</html>
